extends layout

block content
  .row.jumbotron
    .container
      h2 Contact Form
      p
      p 
      p 

  .container
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='name') Name
        .col-sm-5
          input.form-control(type='text', name='name', id='name', autofocus=true)
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='email') Email
        .col-sm-5
          input.form-control(type='text', name='email', id='email')
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='message') Body
        .col-sm-5
          textarea.form-control(type='text', name='message', id='message', rows='7')
      .form-group
        .col-sm-offset-4.col-sm-5
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send