extends layoutHidden

block content
  section#hero-area
    .container
      .row
        .col-md-12.text-center
          .block
            h1 NTU LIVE
            p.lead Leadership in Entrepreneurship
            p
              h4 打造台灣未來醫療科技CEO人才課程

