extends layoutHidden

block content	
	section#hero-area
		//- img(src='img/23513410876_21894c801e_k.jpg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
		.home-overlay
		.container
			.row
				.col-xs-12.text-center
					.block
						.col-xs-12.titleWord
							h1 MEDx LIVE
							h3 @Taipei
						.col-xs-12
							p.lead Leadership, Innovation, ValuE
							p
								h4 打造台灣未來醫療科技CEO人才計劃
	section.afterHeroArea
		.container
			.navbar-collapse
				ul#fourWe.nav.navbar-nav.nav-pills.nav-justified.default-color
					li
						a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							h4 WHAT we do
						ul.dropdown-menu
							//- .row
							//- 	.col-xs-12
							//- 		h4 Train and cultivate future executives for medtech startups.
							li#fourWe-content
								h4 Train and cultivate future executives for medtech startups.
							
								
					li
						a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							h4 WHO we are
						ul.dropdown-menu
							//- .row
							//- 	.col-xs-12
							//- 		h4 Train and cultivate future executives for medtech startups.
							li#fourWe-content
								h4 At MEDx LIVE Taipei, we focus on
									br
									ul
										li
											h4 Leadership
										li
											h4 Innovation
										li
											h4 Value
							
					li
						a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							h4 WHY we do it
						ul.dropdown-menu
							//- .row
							//- 	.col-xs-12
							//- 		h4 Train and cultivate future executives for medtech startups.
							li#fourWe-content
								h4 The purpose of MEDx LIVE Taipei is to:
									br
									ul
										li
											h4 Provide a platform for entrepreneurs to network and exchange ideas
										li
											h4 Create opportunities for people to express their creativity
							
					li
						a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							h4 HOW we do it
						ul.dropdown-menu
							//- .row
							//- 	.col-xs-12
							//- 		h4 Train and cultivate future executives for medtech startups.
							li#fourWe-content
								h4 We offer project-based executive training which encourages our fellows to refine their skills through learning-by-doing. 				
			