extends ../layout

block content
  .row.jumbotron.jumbotronPeople16
    .container
      h2 Founders
      p
      p Meet the people behind Medx Live
      p
  .container
    .margin_top20
      include ./viewUsers.jade
  
  
  